mirdata==0.3.8
mido==1.3.2
git+https://github.com/craffel/mir_eval.git==0.1.1
git+https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup.git==0.1.1
matplotlib==3.8.2
lightning>=2.2.1
pytest-timeout==2.2.0
pytest==7.4.4
deprecated==1.2.14
librosa==0.10.1
einops==0.7.0rc2
transformers==4.36.2
wandb==0.16.1
smart-open==6.4.0
