name: Fix Image
on: workflow_dispatch
jobs:
  fix-manifest:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Pull and Push Fixed
        run: |
          docker pull dockman56/melodify-saas:latest
          docker tag dockman56/melodify-saas:latest dockman56/melodify-saas:fixed
          docker push dockman56/melodify-saas:fixed
